@model IEnumerable<Medit.Travailleur>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_Travailleur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumTel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdresseNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdresseRue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumDossierMedical)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodePostal.Localite)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Travailleur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumTel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdresseNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdresseRue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumDossierMedical)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodePostal.Localite)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
