@model Medit.TravEnt

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TravEnt</legend>
        <!--
        <div class="editor-label">
            @Html.LabelFor(model => model.Id_TravEnt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Id_TravEnt)
            @Html.ValidationMessageFor(model => model.Id_TravEnt)
        </div>
        -->

        <div class="editor-label">
            @Html.LabelFor(model => model.Interlocuteur)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Interlocuteur)
            @Html.ValidationMessageFor(model => model.Interlocuteur)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateEntree)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateEntree)
            @Html.ValidationMessageFor(model => model.DateEntree)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id_Travailleur)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Id_Travailleur", "-- Select --")
            @Html.ValidationMessageFor(model => model.Id_Travailleur)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateSortie)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateSortie)
            @Html.ValidationMessageFor(model => model.DateSortie)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Code_Profession)
        </div>
        <div class="editor-field" id="profession">
            @Html.DropDownList("Code_Profession", "-- Select --")
            @Html.ValidationMessageFor(model => model.Code_Profession)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Numero_Entreprise)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Numero_Entreprise)
            @Html.ValidationMessageFor(model => model.Numero_Entreprise)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id_Langue)
        </div>
        <div class="editor-field" id="langue">
            @Html.DropDownList("Id_Langue")
            @Html.ValidationMessageFor(model => model.Id_Langue)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('#langue').on("change", function () {
            var $idLangue = $('option:selected', this).val();

            $.ajax({
                url: '/TravEnt/Translate/'+$idLangue.toString(),
                type: 'GET',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                    $('#Code_Profession').empty();
                    $.each(result, function () {
                        $profession = this;
                        $.each($profession, function () {
                            $("<option />", {
                                val: this.Code,
                                text: this.Denomination
                            }).appendTo($('#Code_Profession'));
                        });
                    });
                }
            });                
        });
    </script>
}
