@model Medit.TravEnt

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TravEnt</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Id_Travailleur)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Travailleur.NomPre)
    </div>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Numero_Entreprise)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Entreprise.Denomination)
    </div>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Code_Profession)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Profession.LangueProfessions.ElementAt((int)model.Entreprise.Id_Langue - 1).Denomination)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.isSoumis)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isSoumis)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Interlocuteur)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InterlocuteurFormated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateEntree)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateEntree)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateSortie)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateSortie)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Id_Langue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Entreprise.Langue.Libelle)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_TravEnt }) |
    @Html.ActionLink("Back to List", "Index")
</p>
