@model Medit.TravEnt

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TravEnt</legend>

        @Html.HiddenFor(model => model.Id_TravEnt) @*Necessary to get back the id*@    

        <div class="float-right right-col">
            <div class="editor-label">
                @Html.LabelFor(model => model.Numero_Entreprise)
            </div>
            <div class="editor-field">
                @Html.DropDownList("Numero_Entreprise", null, new { size=1, @disabled = "disabled" })
                @Html.HiddenFor(model => model.Numero_Entreprise)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Id_Langue)
            </div>
            <div class="editor-field">
                @Html.DropDownList("Id_Langue", null, String.Empty, new { @disabled = "disabled" })
                @Html.HiddenFor(model => model.Id_Langue)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Code_Profession)
            </div>
            <div class="editor-field">
                @Html.DropDownList("Code_Profession", null, String.Empty, new { @disabled = "disabled" })
                @Html.HiddenFor(model => model.Code_Profession)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.isSoumis)
            </div>
            <div class="editor-field">
                @Html.RadioButton("isSoumis", "Non", new { @disabled = "disabled" }) Non
                @Html.RadioButton("isSoumis", "Oui", new { @disabled = "disabled" }) Oui
                @Html.HiddenFor(model => model.isSoumis)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Interlocuteur)
            </div>
            <div class="editor-field">
                @Html.RadioButton("Interlocuteur", 0) Non
                @Html.RadioButton("Interlocuteur", 1) Oui
                @Html.ValidationMessageFor(model => model.Interlocuteur)
            </div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id_Travailleur)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Id_Travailleur", null, new { size=1, @disabled = "disabled" })
            @Html.HiddenFor(model => model.Id_Travailleur)
            @Html.ValidationMessageFor(model => model.Id_Travailleur)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateEntree)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateEntree)
            @Html.ValidationMessageFor(model => model.DateEntree)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateSortie)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateSortie)
            @Html.ValidationMessageFor(model => model.DateSortie)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")

    <script>
        $('input[type=datetime]').datepicker({ dateFormat: 'dd-mm-yy', firstDay: 1 });
    </script>
}
