@model IEnumerable<Medit.TravEnt>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_Travailleur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero_Entreprise)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code_Profession)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEntree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateSortie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interlocuteur)
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Travailleur.NomPre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Entreprise.Denomination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profession.LangueProfessions.ElementAt((int)(item.Id_Langue)).Denomination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEntree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateSortie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterlocuteurFormated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { idTravEnt = item.Id_TravEnt }) |
            @Html.ActionLink("Details", "Details", new { idTravEnt = item.Id_TravEnt }) |
            @Html.ActionLink("Delete", "Delete", new { idTravEnt = item.Id_TravEnt })
        </td>
    </tr>
}

</table>
